<!DOCTYPE html>
<html>
    <%- include("templates/head.ejs"); %>
    <body>
        <div class="grid-container">
            <%- include("templates/header.ejs"); %>
            <%- include("templates/nav.ejs"); %>
            <main>
                <form class="w3-container w3-green" action="table.html">
                    <select class="w3-select w3-border" name="option" onchange="this.form.submit()">
                        <option value="" disabled selected>Select your Postcode zone</option>
                        <option value="BS1">BS1</option>
                        <option value="BS2">BS2</option>
                        <option value="BS3">BS3</option>
                        <option value="BS4">BS4</option>
                        <option value="BS5">BS5</option>
                        <option value="BS7">BS7</option>
                        <option value="BS8">BS8</option>
                        <option value="BS9">BS9</option>
                        <option value="BS10">BS10</option>
                        <option value="BS11">BS11</option>
                        <option value="BS13">BS13</option>
                        <option value="BS14">BS14</option>
                        <option value="BS16">BS16</option>
                        <option value="BS%">All Libraries in Bristol</option>
                    </select>
                </form>
                <form class="w3-container w3-green" action="info.html">
                  <select id="library-menu" class="w3-select w3-border" name="option" onchange="this.form.submit()">
                      <option value="" disabled selected>Select Library</option>
                      <option value="Stockwood">Stockwood</option>
                      <option id="westbury" value="Westbury">Westbury</option>
                      <option value="Clifton">Clifton</option>
                      <option value="Horfield">Horfield</option>
                      <option value="Knowle">Knowle Library</option>
                      <option value="Bishopsworth">Bishopsworth</option>
                      <option value="St%Peters%Walk">St Peters Court</option>
                      <option value="Henbury">Henbury Library</option>
                      <option value="Hartcliffe">Hartcliffe Library</option>
                      <option value="Wick Road Library">Wick Road Library</option>
                      <option value="Sea&Mills">Sea Mills Library</option>
                      <option value="Lockleaze">Lockleaze Library</option>
                      <option value="Avonmouth">Avonmouth Library</option>
                      <option value="Henleaze">Henleaze Library</option>
                      <option value="Shirehampton">Shirehampton Library</option>
                      <option value="Central">Central Library</option>
                      <option value="Hillfields">Hillfields Library</option>
                      <option value="Bishopston">Bishopston Library</option>
                      <option value="Junction">Junction 3 Library</option>
                      <option value="Filwood">Filwood Library</option>
                      <option value="Fishponds">Fishponds Library</option>
                      <option value="St&Pauls">St Pauls Library</option>
                      <option value="St&George">St George Library</option>
                      <option value="Whitchurch">Whitchurch Library</option>
                      <option value="Marksbury">Marksbury Library</option>
                  </select>
              </form>
            </main>
        </div>
    </body>
</html>
