<!DOCTYPE html>
<html>
    <%- include("templates/head.ejs"); %>
    <body>
        <div class="grid-container">
            <%- include("templates/header.ejs"); %>
            <%- include("templates/nav.ejs"); %>
            <main>
                <div style="padding: 20px;">
                    <img src="/images/library-search.png" style="width:500px;height:500px;">
                </div>
            </main>
        </div>
    </body>
</html>