<nav>
    <div class="w3-bar-block w3-blue">
        <button onclick="location.href='index.html'"  
            class="w3-bar-item w3-button">Home</button>
        <button onclick="location.href='map.html?option=<%= option %>'"
            class="w3-bar-item w3-button">View in Map</button>
        <button onclick="location.href='table.html?option=<%= option %>'"
            class="w3-bar-item w3-button">View in Table</button>
    </div>
</nav>